/* Provides Information and Page Base */
body{
    background-color: #FAE1ED;
    color:#F38CB2;
    font-family:'haxorville';
    font-size:25px;

}
.Info-bttn{
    font-family:'Protomo';
    padding:10px;
    color: #FAE1ED;
    background-color:#F38CB2;
    border-radius:4px;
    border-color: #F6BBD6;
    border-color:#F6BBD6;
    cursor:pointer;
    transition:opacity .25s;

}
.Info-bttn:hover{
    opacity:70%;
}
.Folio-bttn{
    font-family:'Protomo';
    padding:10px;
    color:#FAE1ED;
    background-color: #F38CB2;
    border-radius: 4px;
    border-color:#F6BBD6;
    cursor:pointer;
    transition:opacity .25s;
}
.Folio-bttn:hover{
    opacity:70%;
}
.moreBttns{
   text-align:end;
}
.sub{
    text-align:center;
    font-size:medium;
}
.title{
    font-size:x-small;
    font-weight:bold;
    text-align:center;
}
.art{
    font-size:xx-small;
    text-align:center;
}
/* Setting up the text format */
.header{
    display:flex;
    align-items:baseline;
    margin:10px;
}
.font{
    font-size:medium;
}
/* Cursor Related Code */
.cursor{
    background:#F38CB2;
    line-height:17px;
    margin-left: 3px;
    width: 5px;
    height: 17px;
    animation: blink 0.8s infinite;
}
@keyframes blink{
    0% {background: transparent}
    50% {background: #F38CB2}
    100% {background:transparent}
}